{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">

</head>
<body>

<div class="container-fluid">
    <h1>编辑书籍</h1>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <form action="{% url 'edit_book' old_obj.pk %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="exampleInputEmail1">书籍名称</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="书籍名称" name="name" value="{{ old_obj.name }}">
                </div>

                 <div class="form-group">
                    <label for="exampleInputEmail2">价格</label>
                    <input type="text" class="form-control" id="exampleInputEmail2" placeholder="价格" name="price" value="{{ old_obj.price }}">
                </div>

                 <div class="form-group">
                    <label for="exampleInputEmail3">出版日期</label>
                    <input type="date" class="form-control" id="exampleInputEmail3" name="date" value="{{ old_obj.date|date:'Y-m-d' }}">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail4">出版社</label>
                    <input type="text" class="form-control" id="exampleInputEmail4" placeholder="出版社" name="publisher" value="{{ old_obj.publisher }}">
                </div>


                <button type="submit" class="btn btn-success pull-right">提交</button>
            </form>


        </div>

    </div>

</div>


<script src="{% static 'jquery-3.4.1.js' %}"></script>
<script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
<script>


</script>
</body>
</html>