{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>书籍目录</title>
    <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">

</head>
<body>

<div class="container-fluid">
    <h1>查看书籍</h1>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div>
                <a href="{% url 'add_book' %}" class="btn btn-primary">添加书籍</a>
            </div>

            <table class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>书籍名称</th>
                        <th>价格</th>
                        <th>出版日期</th>
                        <th>出版社</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book_obj in all_book_objs %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ book_obj.name }}</td>
                            <td>{{ book_obj.price }}</td>
                            <td>{{ book_obj.date|date:'Y-m-d' }}</td>
                            <td>{{ book_obj.publisher }}</td>
                            <td>
                                <a href="{% url 'edit_book' book_obj.pk %}" class="btn btn-warning">编辑</a>

                                <a href="{% url 'del_book' book_obj.pk %}" class="btn btn-danger">删除</a>
                            </td>
                        </tr>


                    {% endfor %}


                </tbody>


            </table>


        </div>

    </div>

</div>





<script src="{% static 'jquery-3.4.1.js' %}"></script>
<script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
<script>


</script>
</body>
</html>